<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dental SPD</title>

    <!-- Bootstrap -->
    <link href="/library/css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body class="login">

	<div class="login-container col-md-3 text-center">
		<div class="row offset-bottom-20">
			<div class="col-md-12">
				<img src="/library/images/dental-spd-logo.png" />
			</div>
		</div>

		<div class="row offset-bottom-20">
			<div class="col-md-12">
				<img src="/library/images/logo-white.png" />
			</div>
		</div>

		<div class="row offset-bottom-20 padding-bottom-20">
			<div class="col-md-12">
				<p class="offset-bottom-5 text-l-blue">ようこそ</p>
				<p class="text-l-blue">歯科業界向け発注管理システムへ。</p>
			</div>
		</div>

<form action="/dealer/orderreceive/" method="POST">
		<div class="row offset-bottom-5">
			<div class="col-md-12">
				<input type="text" class="form-control bg-blue no-border" placeholder="ログインID"/>
			</div>
		</div>
		<div class="row offset-bottom-5">
			<div class="col-md-12">
				<input type="text" class="form-control bg-blue no-border" placeholder="パスワード"/>
			</div>
		</div>

		<div class="row offset-bottom-20">
			<div class="col-md-12">
				<button class="submit">ログイン</button>
			</div>
		</div>
</form>
		<div class="row">
			<div class="col-md-12">
				<a href="passwordreissue/"><p class="text-l-blue">パスワードを忘れた方はこちら</p></a>
			</div>
		</div>

	</div>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/library/js/jquery-3.2.1.min.js"></script>
    <script src="/library/js/bootstrap.min.js"></script>
	<script src="/library/js/scripts.js"></script>

  </body>
</html>