<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dental SPD</title>

    <!-- Bootstrap -->
    <link href="library/css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	
  </head>
  
  <body class="register">
	
	<div class="fluid-container">
		<header id="main-header">
			<div id="top-header" class="clearfix text-center">
				<p class="text-blue offset-top-10 text-bold">パスワード再発行</p>
			</div>
		</header>
	</div>
	

	<div class="login-container col-md-12 col-lg-7 text-center">
		<div class="row">
			<div class="col-sm-6 left padding-bottom-20">
				<br />
				<br />
				<div class="offset-top-20 offset-bottom-20">
					<p class="text-bold">&nbsp;</p>
					
				</div>
				
				<p class="text-gray offset-bottom-10">ログインIDを入力して送信ボタンを押してください。登録</p>
				<p class="text-gray offset-bottom-10">メールアドレス宛に認証用コードが送信されますので、</p>
				<p class="text-gray offset-bottom-20">次の画面で認証用コードを入力してください。</p>
				
				
				<div class="offset-top-20 padding-top-10">
					<input type="text" name="" class="form-control input-gray" placeholder="ログインID"/>
				
				</div>
				
				<div class="offset-top-20 padding-top-10">
							
				</div>
				
					<div class="offset-top-10 padding-top-10">
					<button class="submit">送 信</button>
				</div>
			</div>
			
			<div class="col-sm-6 right padding-bottom-20">
				<div class="offset-top-20 offset-bottom-20">
					<p class="text-bold">ログインIDがわからない場合はこちら</p>
					<p class="text-bold">&nbsp;</p>
				</div>
			
				<p class="text-gray offset-bottom-10">登録メールアドレスおよび担当者名を入力して送信ボタン</p>
				<p class="text-gray offset-bottom-10">を押してください。登録メールアドレス宛に認証用コード</p>
				<p class="text-gray offset-bottom-10">が送信されますので、次の画面で認証用コードを入力して</p>
				<p class="text-gray offset-bottom-20">ください。</p>
			
				<div class="row offset-bottom-5 padding-top-10">
					<div class="col-md-12">
						<input type="text" class="form-control input-gray" placeholder="登録メールアドレス"/>
					</div>
				</div>
				<div class="row offset-bottom-5">
					<div class="col-md-12">
						<input type="text" class="form-control input-gray" placeholder="担当者名"/>
					</div>
				</div>
				
				<div class="row offset-bottom-20">
					<div class="col-md-12">
						<button class="submit"> 送 信</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	
    <!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="library/js/jquery-3.2.1.min.js"></script>
    <script src="library/js/bootstrap.min.js"></script>
	<script src="library/js/scripts.js"></script>
	
  </body>
</html>