<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dental SPD</title>

    <!-- Bootstrap -->
    <link href="library/css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	
  </head>
  
  <body class="register">
	
	<div class="fluid-container">
		<header id="main-header">
			<div id="top-header" class="clearfix text-center">
				<p class="text-blue offset-top-10 text-bold">パスワード再設定</p>
			</div>
		</header>
	</div>
	

	<div class="login-container col-md-3 text-center">
		<div class="row">
			<div class="col-sm-12 padding-bottom-20">
		
				<p class="text-gray offset-bottom-10">新しいパスワードを設定してください</p>
				
				<div class="offset-top-20 padding-top-20">
					<input type="text" name="" class="form-control input-gray" placeholder="新しいパスワード"/>
				</div>
				
				<div class="offset-top-10">
					<input type="text" name="" class="form-control input-gray" placeholder="確認用にもう一度入力してください"/>
				</div>
				
				<div class="padding-top-10">
					<button class="submit">登録</button>
				</div>
			</div>
			

		</div>
	</div>
	
    <!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="library/js/jquery-3.2.1.min.js"></script>
    <script src="library/js/bootstrap.min.js"></script>
	<script src="library/js/scripts.js"></script>
	
  </body>
</html>