<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dental SPD</title>

    <!-- Bootstrap -->
    <link href="library/css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	
  </head>
  <body>
	
	<div class="fluid-container">
		<header id="main-header">
			<div id="top-header" class="clearfix">
				<div class="col-xs-2 logo-holder">
					<i class="fa fa-bars hidden-md hidden-lg"></i>
					<img class="hidden-xs hidden-sm" src="library/images/logo.png" />
				</div>
				<div class="col-xs-10 text-right">
					<div class="user-container">
						<span class="avatar">
							<img src="library/images/user-icon.png" />
						</span>
						<span class="username text-gray">◯◯◯◯◯さん ログイン中</span>
					</div>
				</div>
			</div>
		</header>
	</div>
	
	<div id="side-menu">
		
		<div class="nav-with-label">
			<ul>
				<li class="active"><a class="cart" href="#">受注</a></li>
				<li><a class="editpage" href="#">お問い合わせ掲示板</a></li>
				<li><a class="question" href="#">ヘルプ</a></li>
			</ul>
		</div>
		
		<a href="#" class="logout-button">ログアウト</a>
		
	</div>
	
	<div class="left-content">
	
		<!-- buttons -->
		<div class="clearfix padding-top-10">
			<button class="btn bg-d-blue text-white btn-sm pull-right">ダウンロード(Excel) <i class="fa fa-download"></i> </button>			
		</div
		
		
		<!-- Table -->
		<div class="table-responsive">
			
			<table class="table table-striped offset-top-20">
				<thead class="bg-d-blue text-white">
					<tr>
						<td class="text-center">受注日</td>
						<td class="text-center">発注No</td>
						<td class="text-center">発注元</td>
						<td class="text-center">担当者名</td>
						<td class="text-center">商品コード</td>
						<td class="text-center">商品画像</td>
						<td class="text-center">商品名</td>
						<td class="text-center">数量</td>
						<td class="text-center">単位</td>
					</tr>
				</thead>
				<tbody>
										
					<tr>
						<td>20170000</td>
						<td>0000000</td>
						<td class="text-center">-------</td>
						<td class="text-center">-------</td>
						<td>0036000507065</td>
						<td class="text-center relative">
							<img src="library/images/blank-image-thumb.png" class="img-show" />
							<div class="tooltip-content">
								<img src="library/images/blank-image.png" class="img-responsive" />
							</div>
							
						</td>
						<td class="text-center">ｽﾀｰﾘﾝｸﾞ ﾆﾄﾘﾙ検査用ｸﾞﾛｰﾌﾞ/Sｽﾀｰﾘﾝｸﾞ ﾆ.....</td>
						
						
						<td class="text-center">00000</td>
						<td class="text-center">-------</td>
					</tr>
					
					<tr>
						<td>20170000</td>
						<td>0000000</td>
						<td class="text-center">-------</td>
						<td class="text-center">-------</td>
						<td>0036000507065</td>
						<td class="text-center relative">
							<img src="library/images/blank-image-thumb.png" class="img-show" />
							<div class="tooltip-content">
								<img src="library/images/blank-image.png" class="img-responsive" />
							</div>
							
						</td>
						<td class="text-center">ｽﾀｰﾘﾝｸﾞ ﾆﾄﾘﾙ検査用ｸﾞﾛｰﾌﾞ/Sｽﾀｰﾘﾝｸﾞ ﾆ.....</td>
						
						
						<td class="text-center">00000</td>
						<td class="text-center">-------</td>
					</tr>
					
					<tr>
						<td>20170000</td>
						<td>0000000</td>
						<td class="text-center">-------</td>
						<td class="text-center">-------</td>
						<td>0036000507065</td>
						<td class="text-center relative">
							<img src="library/images/blank-image-thumb.png" class="img-show" />
							<div class="tooltip-content">
								<img src="library/images/blank-image.png" class="img-responsive" />
							</div>
							
						</td>
						<td class="text-center">ｽﾀｰﾘﾝｸﾞ ﾆﾄﾘﾙ検査用ｸﾞﾛｰﾌﾞ/Sｽﾀｰﾘﾝｸﾞ ﾆ.....</td>
						
						
						<td class="text-center">00000</td>
						<td class="text-center">-------</td>
					</tr>
					
					<tr>
						<td>20170000</td>
						<td>0000000</td>
						<td class="text-center">-------</td>
						<td class="text-center">-------</td>
						<td>0036000507065</td>
						<td class="text-center relative">
							<img src="library/images/blank-image-thumb.png" class="img-show" />
							<div class="tooltip-content">
								<img src="library/images/blank-image.png" class="img-responsive" />
							</div>
							
						</td>
						<td class="text-center">ｽﾀｰﾘﾝｸﾞ ﾆﾄﾘﾙ検査用ｸﾞﾛｰﾌﾞ/Sｽﾀｰﾘﾝｸﾞ ﾆ.....</td>
						
						
						<td class="text-center">00000</td>
						<td class="text-center">-------</td>
					</tr>
					
					<tr>
						<td>20170000</td>
						<td>0000000</td>
						<td class="text-center">-------</td>
						<td class="text-center">-------</td>
						<td>0036000507065</td>
						<td class="text-center relative">
							<img src="library/images/blank-image-thumb.png" class="img-show" />
							<div class="tooltip-content">
								<img src="library/images/blank-image.png" class="img-responsive" />
							</div>
							
						</td>
						<td class="text-center">ｽﾀｰﾘﾝｸﾞ ﾆﾄﾘﾙ検査用ｸﾞﾛｰﾌﾞ/Sｽﾀｰﾘﾝｸﾞ ﾆ.....</td>
						
						
						<td class="text-center">00000</td>
						<td class="text-center">-------</td>
					</tr>
					
					<tr>
						<td>20170000</td>
						<td>0000000</td>
						<td class="text-center">-------</td>
						<td class="text-center">-------</td>
						<td>0036000507065</td>
						<td class="text-center relative">
							<img src="library/images/blank-image-thumb.png" class="img-show" />
							<div class="tooltip-content">
								<img src="library/images/blank-image.png" class="img-responsive" />
							</div>
							
						</td>
						<td class="text-center">ｽﾀｰﾘﾝｸﾞ ﾆﾄﾘﾙ検査用ｸﾞﾛｰﾌﾞ/Sｽﾀｰﾘﾝｸﾞ ﾆ.....</td>
						
						
						<td class="text-center">00000</td>
						<td class="text-center">-------</td>
					</tr>
					
					<tr>
						<td>20170000</td>
						<td>0000000</td>
						<td class="text-center">-------</td>
						<td class="text-center">-------</td>
						<td>0036000507065</td>
						<td class="text-center relative">
							<img src="library/images/blank-image-thumb.png" class="img-show" />
							<div class="tooltip-content">
								<img src="library/images/blank-image.png" class="img-responsive" />
							</div>
							
						</td>
						<td class="text-center">ｽﾀｰﾘﾝｸﾞ ﾆﾄﾘﾙ検査用ｸﾞﾛｰﾌﾞ/Sｽﾀｰﾘﾝｸﾞ ﾆ.....</td>
						
						
						<td class="text-center">00000</td>
						<td class="text-center">-------</td>
					</tr>
					
					<tr>
						<td>20170000</td>
						<td>0000000</td>
						<td class="text-center">-------</td>
						<td class="text-center">-------</td>
						<td>0036000507065</td>
						<td class="text-center relative">
							<img src="library/images/blank-image-thumb.png" class="img-show" />
							<div class="tooltip-content">
								<img src="library/images/blank-image.png" class="img-responsive" />
							</div>
							
						</td>
						<td class="text-center">ｽﾀｰﾘﾝｸﾞ ﾆﾄﾘﾙ検査用ｸﾞﾛｰﾌﾞ/Sｽﾀｰﾘﾝｸﾞ ﾆ.....</td>
						
						
						<td class="text-center">00000</td>
						<td class="text-center">-------</td>
					</tr>

				</tbody>
			</table>
		
		</div>
		
		
		</div>
	</div>
	
    <!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="library/js/jquery-3.2.1.min.js"></script>
    <script src="library/js/bootstrap.min.js"></script>
	<script src="library/js/jquery-ui-1.9.2.custom.js"></script>
	<script src="library/js/scripts.js"></script>
	
  </body>
</html>