<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dental SPD</title>

    <!-- Bootstrap -->
    <link href="library/css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	
  </head>
  <body>
	
	<div class="fluid-container">
		<header id="main-header">
			<div id="top-header" class="clearfix">
				<div class="col-xs-2 logo-holder">
					<i class="fa fa-bars hidden-md hidden-lg"></i>
					<img class="hidden-xs hidden-sm" src="library/images/logo.png" />
				</div>
				<div class="col-xs-10 text-right">
					<div class="user-container">
						<span class="avatar">
							<img src="library/images/user-icon.png" />
						</span>
						<span class="username text-gray">◯◯◯◯◯さん ログイン中</span>
					</div>
				</div>
			</div>
		</header>
	</div>
	
	<div id="side-menu">
		<div class="nav-with-label">
			<ul>
				<li class="has-sub"><a class="cart" href="#">受注</a></li>
				<li><a class="editpage" href="#">お問い合わせ掲示板</a></li>
				<li class="active"><a class="question" href="#">ヘルプ</a></li>
			</ul>
		</div>
		
		<a href="#" class="logout-button">ログアウト</a>
	</div>
	
	<div class="left-content">

	
		<ul class="nav nav-tabs">
			<li><a data-toggle="tab" href="#tab-1">SPDデンタルを有効活用する</a></li>
			<li><a data-toggle="tab" href="#tab-2">簡易マニュアル</a></li>
			<li  class="active"><a data-toggle="tab" href="#tab-3">システム更新情報</a></li>
			<li><a data-toggle="tab" href="#tab-4">よくある質問</a></li>
		</ul>
		
		<div class="tab-content">
			<div id="tab-1" class="tab-pane fade">
				<div class="padding-20">tab-2</div>
			</div>
			<div id="tab-2" class="tab-pane fade">
				<div class="padding-20">tab-3</div>
			</div>
		
		
			<div id="tab-3" class="tab-pane fade in active">
				
				<div class="padding-20">
					
					<strong class="offset-bottom-10">2017.02.21</strong><br /><br />
					<ul class="padding-bottom-20 padding-left-10">
						<li>主な変更点</li>
						<li>【機能拡張】</li>
						<li>○SPDデンタル端末、管理ページ（PC版）共通</li>
						<li>・お知らせ掲示板の表示文字数を拡大</li>
						<li>○SPDデンタル端末</li>
						<li>・発注時の商品詳細表示画面に価格表示を追加</li>
						<li>それぞれの機能についてわからない点がありましたら、 ヘルプ機能をご確認ください。</li>
					</ul>
					
					<strong class="offset-bottom-10">2016.07.14</strong><br /><br />
					<ul class="padding-bottom-20 padding-left-10">
						<li>主な変更点</li>
						<li>【機能拡張】</li>
						<li>○SPDデンタル端末、管理ページ（PC版）共通</li>
						<li>・パスワードを忘れたら？機能の追加</li>
						<li>・パスワード変更機能の追加</li>
						<li>・問合せ掲示板の追加</li>
						<li>それぞれの機能についてわからない点がありましたら、 ヘルプ機能をご確認ください。</li>
					</ul>

					<strong>2016.06.06</strong><br /><br />
					<ul class="padding-bottom-20 padding-left-10">
						<li>≪今回のシステム変更の背景≫</li>
						<li>　かねてから先行導入をしていただいておりました医院での使用状況等を踏まえ、 歯科医院における在庫管理のあり方を改めて見直したことによるシステム変更です。</li>
						　医院での管理業務としては、あくまでも商品の入出庫をメインとし、 管理業務の負担を軽減したうえで、効率的な作業が行えるようシステムの改善を行いました。
						<li>主な変更点</li>
						<li>【機能拡張】</li>
						<li>・管理ページ（PC版）リニューアル</li>
						<li>・ヘルプ機能の追加</li>
						<li>・連続出庫（払出）機能の追加</li>
						<li>・商品画像表示機能の追加</li>
						<li>【削除機能】</li>
						<li>・ロケーション管理機能</li>
						<li>・自動発注機能（発注点・規定在庫量の設定）</li>
						<li>ロケーションの概念はなくなりますが、6月5日時点で在庫登録をしている それぞれの商品在庫はそのまま残りますので、移行後もそのままお使いいただけます。</li>
						<li>それぞれの機能についてわからない点がありましたら、 ヘルプ機能をご確認ください。</li>
					</ul>
				</div>
			
			</div>
			
			<div id="tab-4" class="tab-pane fade">
				<div class="padding-20">tab-4</div>
			</div>
			<div id="tab-5" class="tab-pane fade">
				<div class="padding-20">tab-5</div>
			</div>
		</div>
		
	
	

	</div>
	
	
    <!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="library/js/jquery-3.2.1.min.js"></script>
    <script src="library/js/bootstrap.min.js"></script>
	<script src="library/js/scripts.js"></script>
	
  </body>
</html>